html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    background-color: rgba(198, 201, 198, 0.975);
    color: rgba(198, 201, 198, 0.975);
}

main {
    background-color: rgb(25, 25, 25);
    width: 90%;
    margin: 0 auto;
}

h1{
    color:  rgba(198, 201, 198, 0.975);
    padding-top: 1rem;
}

h2 {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color:  rgba(198, 201, 198, 0.975);
    color: rgb(25, 25, 25);
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 1rem auto;
}

h3 {
    margin: 2rem 0;
    text-decoration: underline rgba(198, 201, 198, 0.975) 1px;
}


#image {
    display: block;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

figure figcaption {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 5rem;
}

#tribute-info {
    margin: 2rem auto;
    width: 60%;

}

p {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    color:  rgba(198, 201, 198, 0.975);
    text-align: center;
}

a {
    color:  rgba(198, 201, 198, 0.975);
}

a:hover {
    color: aquamarine;
}

li {
    list-style-type: circle;
}